# Data Preprocessing

## Import Libraries

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

## Read the dataset

In [3]:
df = pd.read_csv("/content/drive/MyDrive/MachineLearning/MTH-IDS/NSL-KDD/KDDTrain+.txt")

In [5]:
df.shape

(125972, 43)

### First 5 rows of the dataset

In [6]:
df.head()

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17,0.03,0.17.1,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21
3,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21

In [7]:
df.drop('20',axis=1,inplace=True)

In [10]:
columns = (['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent'
            ,'hot','num_failed_logins','logged_in','num_compromised','root_shell','su_attempted','num_root'
            ,'num_file_creations','num_shells','num_access_files','num_outbound_cmds','is_host_login'
            ,'is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate'
            ,'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count'
            ,'dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate'
            ,'dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate'
            ,'dst_host_srv_rerror_rate','Attack'])

In [11]:
df.columns = columns

In [12]:
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Attack
0,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal
1,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune
2,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal
3,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal
4,0,tcp,private,REJ,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune

### Number of columns and its data types

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125972 entries, 0 to 125971
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     125972 non-null  int64
 1   protocol_type                125972 non-null  object
 2   service                      125972 non-null  object
 3   flag                         125972 non-null  object
 4   src_bytes                    125972 non-null  int64
 5   dst_bytes                    125972 non-null  int64
 6   land                         125972 non-null  int64
 7   wrong_fragment               125972 non-null  int64
 8   urgent                       125972 non-null  int64
 9   hot                          125972 non-null  int64
 10  num_failed_logins            125972 non-null  int64
 11  logged_in                    125972 non-null  int64
 12  num_compromised              125972 non-null  int64
 13  root_shell                   125972 non-null  int64
 14  su_attempted                 125972 non-null  int64
 15  num_root                     125972 non-null  int64
 16  num_file_creations           125972 non-null  int64
 17  num_shells                   125972 non-null  int64
 18  num_access_files             125972 non-null  int64
 19  num_outbound_cmds            125972 non-null  int64
 20  is_host_login                125972 non-null  int64
 21  is_guest_login               125972 non-null  int64
 22  count                        125972 non-null  int64
 23  srv_count                    125972 non-null  int64
 24  serror_rate                  125972 non-null  float64
 25  srv_serror_rate              125972 non-null  float64
 26  rerror_rate                  125972 non-null  float64
 27  srv_rerror_rate              125972 non-null  float64
 28  same_srv_rate                125972 non-null  float64
 29  diff_srv_rate                125972 non-null  float64
 30  srv_diff_host_rate           125972 non-null  float64
 31  dst_host_count               125972 non-null  int64
 32  dst_host_srv_count           125972 non-null  int64
 33  dst_host_same_srv_rate       125972 non-null  float64
 34  dst_host_diff_srv_rate       125972 non-null  float64
 35  dst_host_same_src_port_rate  125972 non-null  float64
 36  dst_host_srv_diff_host_rate  125972 non-null  float64
 37  dst_host_serror_rate         125972 non-null  float64
 38  dst_host_srv_serror_rate     125972 non-null  float64
 39  dst_host_rerror_rate         125972 non-null  float64
 40  dst_host_srv_rerror_rate     125972 non-null  float64
 41  Attack                       125972 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 40.4+ MB

### Value Count of each attack types

In [14]:
df.Attack.value_counts()

normal             67342
neptune            41214
satan               3633
ipsweep             3599
portsweep           2931
smurf               2646
nmap                1493
back                 956
teardrop             892
warezclient          890
pod                  201
guess_passwd          53
buffer_overflow       30
warezmaster           20
land                  18
imap                  11
rootkit               10
loadmodule             9
ftp_write              8
multihop               7
phf                    4
perl                   3
spy                    2
Name: Attack, dtype: int64

## Label Encoding to the dataset

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
labelencoder = LabelEncoder()
df.iloc[:, -1] = labelencoder.fit_transform(df.iloc[:, -1])

<ipython-input-16-aacf20931196>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, -1] = labelencoder.fit_transform(df.iloc[:, -1])

### Checking the values now

In [19]:
df.Attack.value_counts()

11    67342
9     41214
17     3633
5      3599
15     2931
18     2646
10     1493
0       956
20      892
21      890
14      201
3        53
1        30
22       20
6        18
4        11
16       10
7         9
2         8
8         7
13        4
12        3
19        2
Name: Attack, dtype: int64

## 1. Removal of columns with object data type except the Attack Class
### i.e. Flow id, Src IP and Dest IP

#### Make a copy of attack column

In [20]:
attack_column = df['Attack']

#### Select all columns with data type other than 'object'

In [21]:
numeric_cols = df.select_dtypes(exclude='object').columns.tolist()

#### Drop all 'object' columns

In [22]:
df = df[numeric_cols]

#### Add the attack column again

In [23]:
df['Attack'] = attack_column

## 2. Checking and removal of NULL or INFINITY Values

#### check if there is any null value in any column

In [24]:
df.isnull().any().any()

False

#### replacing any infinity value in any column with null values

In [25]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

#### removing that values

In [26]:
df = df.dropna()

## 3. Sampling

### Retain the minority class from sampling

In [27]:
# df_minor = df[(df['Attack']==5)|(df['Attack']==2)|(df['Attack']==3)]
# df_major = df.drop(df_minor.index)

### Mini Batch K-means for clustering

In [28]:
# X = df_major.drop(['Attack'],axis=1)
# y = df_major.iloc[:, -1].values.reshape(-1,1)
# y=np.ravel(y)

In [29]:
# X.shape

In [30]:
# from sklearn.cluster import MiniBatchKMeans
# import warnings
# from sklearn.exceptions import ConvergenceWarning

# # Suppress ConvergenceWarning
# warnings.filterwarnings("ignore", category=FutureWarning)

# n_clusters = 719  # Define the total number of clusters
# batch_size = 1000  # Define the batch size

# # Initialize an empty array to store all cluster labels
# all_labels = []

# # Split your data (X) into batches
# num_samples = X.shape[0]
# num_batches = int(np.ceil(num_samples / batch_size))

# for batch_num in range(num_batches):
#     start_idx = batch_num * batch_size
#     end_idx = min((batch_num + 1) * batch_size, num_samples)

#     # Extract the current batch
#     batch = X[start_idx:end_idx]

#     # Apply MiniBatchKMeans clustering to the current batch
#     kmeans = MiniBatchKMeans(n_clusters=n_clusters, random_state=0).fit(batch)

#     # Append the cluster labels to the list
#     all_labels.append(kmeans.labels_)

#     # Print progress
#     # if batch_num % 10 == 0:  # Adjust the interval as needed
#     print(f"Processed batch {batch_num}/{num_batches}")

# # After processing all batches, concatenate the labels and assign them to the DataFrame
# cluster_labels = np.concatenate(all_labels)

# # Assign the cluster labels to the DataFrame
# df_major['klabel'] = cluster_labels

In [31]:
# df_major.head()

In [ ]:
# cols = list(df_major)
# cols.insert(81, cols.pop(cols.index('Attack')))
# df_major = df_major.loc[:, cols]

#### Shifting Attack column to the rightmost

### Apply Sampling

In [32]:
# # Define a function to apply the sampling within groups
# def typicalSampling(group):
#     name = group.name
#     frac = 0.008
#     return group.sample(frac=frac)

# # Initialize an empty DataFrame to store the results
# sampled_df = pd.DataFrame()

# # Get unique 'klabel' values
# unique_labels = df_major['klabel'].unique()

# # Define the chunk size
# chunk_size = 100

# # Process data in chunks
# for i in range(0, len(unique_labels), chunk_size):
#     # Select a chunk of 'klabel' values
#     labels_chunk = unique_labels[i:i + chunk_size]

#     # Filter the DataFrame to include only the selected 'klabel' values
#     filtered_data = df_major[df_major['klabel'].isin(labels_chunk)]

#     # Apply typicalSampling to the filtered data
#     sampled_chunk = filtered_data.groupby('klabel').apply(typicalSampling)

#     # Append the sampled chunk to the result DataFrame
#     sampled_df = pd.concat([sampled_df, sampled_chunk])

#     # Print progress information
#     print(f"Processed {i + chunk_size} out of {len(unique_labels)} labels")

In [33]:
# sampled_df['Attack'].value_counts()

In [35]:
# result = result.drop(['klabel'], axis=1)
# result = pd.concat([result, df_minor], ignore_index=True)

In [36]:
# result['Attack'].value_counts()

In [37]:
# result.shape

In [38]:
df.to_csv('/content/drive/MyDrive/MachineLearning/MTH-IDS/NSL-KDD/NSL-KDD_sampledataset.csv',index=0)